# OS
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.project
.settings/

# Node
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Build
dist/
build/
